# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.This-System-Rocks-.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\GitProjects\This-System-Rocks-\.idea\.idea.This-System-Rocks-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
