# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.This-System-Rocks-.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Lewis\repos\This-System-Rocks-\.idea\.idea.This-System-Rocks-\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
